.collection-item {
  text-align: center;
  button {
    color: white;
    background-color: rgb(184, 48, 48);
    border: none;
    padding: 10px;
    font-size: 1rem;
    margin-top: 2rem;
    &:hover {
      background-color: rgb(107, 28, 28);
      cursor: pointer;
    }
  }
  .collection-head p {
    color: rgb(221, 53, 53);
    margin-bottom: 0px;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
  }
  .collection-head {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .collection-card {
    cursor: pointer;
    gap: 2rem;
    img {
      width: 14vw;
      height: 40vh;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    img:hover {
      cursor: pointer;
    }
    p:hover {
      color: rgb(151, 45, 45);
      cursor: pointer;
    }
    h3 {
      border-bottom: 1px solid black;
      &:hover {
        border-bottom: 1px solid rgb(214, 13, 13);
        cursor: pointer;
      }
    }
  }
}
